In [13]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\python311\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\python311\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [14]:
import mysql.connector
from mysql.connector import Error
from random import randint, choice, uniform
from faker import Faker

In [15]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '22976738',
    'database': 'Embraer2'
}


try:
    connection = mysql.connector.connect(**db_config)
    if connection.is_connected():
        print("Conexão ao banco de dados bem-sucedida.")   
except mysql.connector.Error as e:
    print(f"Erro ao conectar ao banco de dados: {e}")
    
    
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

Conexão ao banco de dados bem-sucedida.

In [16]:
create_table_query_deposito = """
 
    CREATE TABLE IF NOT EXISTS deposito(
     id INT AUTO_INCREMENT PRIMARY KEY NOT NULL,
     descricao_deposito VARCHAR(255),
     localizacao_endereco VARCHAR(100),
     quantidade INT,
     codigo_produto INT,
     produto VARCHAR(100),
     data_inspecao DATE,
     custos_seguro DECIMAL(10, 2),
     energia VARCHAR(50),
     id_produtos INT,
     CONSTRAINT codigo_produto_d FOREIGN KEY (id_produtos) REFERENCES produtos(id)
     );
     
"""

cursor.execute(create_table_query_deposito)
conn.commit()

In [17]:
depositos = ['deposito 1', 'deposito 2', 'deposito 3', 'deposito 4']
localizacao_deposito = ['São Paulo', 'São José dos Campos', 'Botucatu', 'Sorocaba']
produtos = ['placas de titânio', 'parafusos', 'cilindros', 'fuselagem de aeronaves', 'tubos hidráulicos', 'trem de pouso', 'quadros de janela do cockpit', 'fixador', 'porta', 'estrutura de asa', 'pás do ventilador', 'lâminas de compressor', 'aerofólio', 'longarina' ]

fake = Faker('pt_BR')

for _ in range(14):
    id = randint(1, 5)
    descricao_deposito = choice(depositos)
    localizacao = localizacao_deposito
    quantidade = randint(1, 100)
    codigo_produto = randint(1000, 9999)
    produto = choice(produtos)
    data_inspecao = fake.date_this_decade()
    custos_seguro = round(uniform(1000, 5000), 2)
    Energia = round(uniform(1000, 5000), 2)
    id_produtos = randint(1, 5)

    if descricao_deposito == 'deposito 1':
        localizacao_endereco = 'São Paulo'
    elif descricao_deposito == 'deposito 2':
        localizacao_endereco = 'São José dos Campos'
    elif descricao_deposito == 'deposito 3':
        localizacao_endereco = 'Sorocaba'
    elif descricao_deposito == 'deposito 4':
        localizacao_endereco = 'Botucatu'
    else:
        localizacao_endereco = 'Descrição não localizada'
        
        
    print(f"INSERT INTO deposito (descricao_deposito, localizacao_endereco, quantidade, codigo_produto, produto, data_inspecao, custos_seguro, Energia, id_produtos) VALUES ('{descricao_deposito}', '{localizacao_endereco}', {quantidade}, {codigo_produto}, '{produto}', '{data_inspecao}', {custos_seguro}, {Energia}, {id_produtos});")

    insert_query = "INSERT INTO deposito (descricao_deposito, localizacao_endereco, quantidade, codigo_produto, produto, data_inspecao, custos_seguro, Energia, id_produtos) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
    data = (descricao_deposito, localizacao_endereco, quantidade, codigo_produto, produto, data_inspecao, custos_seguro, Energia, id_produtos)

    try:
        cursor.execute(insert_query, data)
        conn.commit()
    except Exception as e:
        print(f"Erro ao inserir dados: {e}")



try:
    cursor.close()
    print("Conexão fechada com sucesso.")
    conn.close()
except Exception as e:
    print(f"Erro ao fechar a conexão: {e}")

INSERT INTO deposito (descricao_deposito, localizacao_endereco, quantidade, codigo_produto, produto, data_inspecao, custos_seguro, Energia, id_produtos) VALUES ('deposito 1', 'São Paulo', 30, 3325, 'cilindros', '2020-09-27', 4704.69, 3916.79, 5);
INSERT INTO deposito (descricao_deposito, localizacao_endereco, quantidade, codigo_produto, produto, data_inspecao, custos_seguro, Energia, id_produtos) VALUES ('deposito 2', 'São José dos Campos', 20, 5210, 'cilindros', '2022-10-14', 3135.76, 4928.66, 3);
INSERT INTO deposito (descricao_deposito, localizacao_endereco, quantidade, codigo_produto, produto, data_inspecao, custos_seguro, Energia, id_produtos) VALUES ('deposito 2', 'São José dos Campos', 77, 6074, 'fixador', '2022-04-05', 4126.96, 2723.2, 5);
INSERT INTO deposito (descricao_deposito, localizacao_endereco, quantidade, codigo_produto, produto, data_inspecao, custos_seguro, Energia, id_produtos) VALUES ('deposito 3', 'Sorocaba', 47, 6521, 'quadros de janela do cockpit', '2022-12-18', 1155.54, 2982.43, 2);
INSERT INTO deposito (descricao_deposito, localizacao_endereco, quantidade, codigo_produto, produto, data_inspecao, custos_seguro, Energia, id_produtos) VALUES ('deposito 2', 'São José dos Campos', 20, 6176, 'tubos hidráulicos', '2020-05-18', 2524.05, 1022.62, 5);
INSERT INTO deposito (descricao_deposito, localizacao_endereco, quantidade, codigo_produto, produto, data_inspecao, custos_seguro, Energia, id_produtos) VALUES ('deposito 1', 'São Paulo', 49, 8354, 'fixador', '2021-05-10', 3031.32, 4529.04, 1);
INSERT INTO deposito (descricao_deposito, localizacao_endereco, quantidade, codigo_produto, produto, data_inspecao, custos_seguro, Energia, id_produtos) VALUES ('deposito 3', 'Sorocaba', 21, 2767, 'porta', '2022-01-11', 2558.26, 3228.95, 4);
INSERT INTO deposito (descricao_deposito, localizacao_endereco, quantidade, codigo_produto, produto, data_inspecao, custos_seguro, Energia, id_produtos) VALUES ('deposito 1', 'São Paulo', 83, 8277, 'trem de pouso', '2020-04-18', 3457.05, 3454.24, 2);
INSERT INTO deposito (descricao_deposito, localizacao_endereco, quantidade, codigo_produto, produto, data_inspecao, custos_seguro, Energia, id_produtos) VALUES ('deposito 3', 'Sorocaba', 49, 3625, 'parafusos', '2022-04-02', 3003.52, 2545.74, 4);
INSERT INTO deposito (descricao_deposito, localizacao_endereco, quantidade, codigo_produto, produto, data_inspecao, custos_seguro, Energia, id_produtos) VALUES ('deposito 1', 'São Paulo', 57, 3108, 'fuselagem de aeronaves', '2020-06-04', 1019.99, 4490.01, 5);
INSERT INTO deposito (descricao_deposito, localizacao_endereco, quantidade, codigo_produto, produto, data_inspecao, custos_seguro, Energia, id_produtos) VALUES ('deposito 2', 'São José dos Campos', 59, 4175, 'placas de titânio', '2020-01-27', 4454.41, 2557.47, 4);
INSERT INTO deposito (descricao_deposito, localizacao_endereco, quantidade, codigo_produto, produto, data_inspecao, custos_seguro, Energia, id_produtos) VALUES ('deposito 2', 'São José dos Campos', 79, 4965, 'porta', '2023-10-14', 1360.05, 3028.65, 2);
INSERT INTO deposito (descricao_deposito, localizacao_endereco, quantidade, codigo_produto, produto, data_inspecao, custos_seguro, Energia, id_produtos) VALUES ('deposito 1', 'São Paulo', 61, 5886, 'fuselagem de aeronaves', '2021-10-10', 2877.74, 1630.21, 4);
INSERT INTO deposito (descricao_deposito, localizacao_endereco, quantidade, codigo_produto, produto, data_inspecao, custos_seguro, Energia, id_produtos) VALUES ('deposito 3', 'Sorocaba', 23, 6823, 'longarina', '2021-04-07', 1265.97, 2344.73, 4);
Conexão fechada com sucesso.