In [10]:
import mysql.connector
from mysql.connector import Error
from random import randint, choice, uniform
from faker import Faker
import pandas as pd
from datetime import datetime

In [11]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '22976738',
    'database': 'teste1'
}


try:
    connection = mysql.connector.connect(**db_config)
    if connection.is_connected():
        print("Conexão ao banco de dados bem-sucedida.")   
except mysql.connector.Error as e:
    print(f"Erro ao conectar ao banco de dados: {e}")
    
    
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

Conexão ao banco de dados bem-sucedida.

In [12]:
create_table_query_despesas = """
 
    CREATE TABLE IF NOT EXISTS despesas(
     id INT AUTO_INCREMENT PRIMARY KEY NOT NULL,
     data_despesas DATE,
     custos_seguro FLOAT,
     energia FLOAT,
     id_produtos INT,
     id_deposito INT
     );
     
"""

cursor.execute(create_table_query_despesas)
conn.commit()

In [13]:
df_kardex = pd.read_excel('C:/Users/user/Documents/GitHub/EMBRAER--Custo-Manutencao-de-Estoque-/dados_kardex.xlsx', sheet_name='kardex')
df_produtos = pd.read_excel('C:/Users/user/Documents/GitHub/EMBRAER--Custo-Manutencao-de-Estoque-/dados_kardex.xlsx', sheet_name='produtos')
df_despesas = pd.read_excel('C:/Users/user/Documents/GitHub/EMBRAER--Custo-Manutencao-de-Estoque-/dados_kardex.xlsx', sheet_name='despesas')

fake = Faker('pt_BR')

for id in range(100):
    
    data_despesas_str = df_despesas.loc[id, 'data_despesas']
    data_despesas = datetime.strptime(data_despesas_str, '%d/%m/%Y').date()
    custos_seguro = int(df_despesas.loc[id, 'custo_seguro'])
    energia = int(df_despesas.loc[id, 'custo_energia'])
    id_produtos = int(df_produtos.loc[id, 'codigo_produto'])
    id_deposito = int(df_despesas.loc[id, 'deposito'])

    print(f"INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES "
          f"('{data_despesas}', {custos_seguro}, {energia}, {id_produtos}, {id_deposito});")
    
    
    insert_query = "INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES (%s, %s, %s, %s, %s)"
    data = (data_despesas, custos_seguro, energia, id_produtos, id_deposito)


    try:
        cursor.execute(insert_query, data)
        conn.commit()
    except Exception as e:
        print(f"Erro ao inserir dados: {e}")

try:
    cursor.close()
    print("Conexão fechada com sucesso.")
    conn.close()
except Exception as e:
    print(f"Erro ao fechar a conexão: {e}")

INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES ('2019-01-10', 7800, 22625, 1, 4);
INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES ('2019-02-10', 4750, 21825, 2, 4);
INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES ('2019-03-10', 4750, 21971, 3, 1);
INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES ('2019-04-10', 4750, 24207, 4, 1);
INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES ('2019-05-10', 4750, 22277, 5, 2);
INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES ('2019-06-10', 4750, 22174, 6, 1);
INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES ('2019-07-10', 4750, 23918, 7, 4);
INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES ('2019-08-10', 4750, 23798, 8, 4);
INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES ('2019-09-10', 4750, 24486, 9, 1);
INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES ('2019-10-10', 4750, 21737, 10, 3);
INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES ('2019-11-10', 4750, 21399, 11, 4);
INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES ('2019-12-10', 4750, 24438, 12, 3);
INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES ('2020-01-10', 5150, 24292, 13, 3);
INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES ('2020-02-10', 5150, 22944, 14, 3);
INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES ('2020-03-10', 5150, 21478, 15, 4);
INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES ('2020-04-10', 5150, 24489, 16, 3);
INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES ('2020-05-10', 5150, 24447, 17, 1);
INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES ('2020-06-10', 5150, 23972, 18, 2);
INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES ('2020-07-10', 5150, 22589, 19, 2);
INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES ('2020-08-10', 5150, 24116, 20, 4);
INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES ('2020-09-10', 5150, 21779, 21, 2);
INSERT INTO despesas (data_despesas, custos_seguro, energia, id_produtos, id_deposito) VALUES ('2020-10-10', 5150, 21004, 22, 3);

KeyError: 22

In [ ]:
#print(df_despesas.columns)

Index(['data_despesas', 'custo_seguro', 'custo_energia', 'deposito'], dtype='object')