In [39]:
import mysql.connector
from mysql.connector import Error
from random import randint, choice, uniform
from faker import Faker
import pandas as pd
from datetime import datetime

In [40]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '22976738',
    'database': 'teste1'
}


try:
    connection = mysql.connector.connect(**db_config)
    if connection.is_connected():
        print("Conex達o ao banco de dados bem-sucedida.")   
except mysql.connector.Error as e:
    print(f"Erro ao conectar ao banco de dados: {e}")
    
    
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

Conex達o ao banco de dados bem-sucedida.

In [41]:
create_table_query_despesas = """
 
    CREATE TABLE IF NOT EXISTS despesas(
     id INT AUTO_INCREMENT PRIMARY KEY NOT NULL,
     data_despesas DATE,
     custos_seguro FLOAT,
     energia FLOAT,
     horas_producao INT,
     depreciacao_maquinario FLOAT,
     logistica_retorno_Peca FLOAT,
     hora_funcionario INT,
     gastos_gerais_fabricacao FLOAT,
     data_usinagem  DATE,
     id_produtos INT,
     id_deposito INT
     );
     
"""

cursor.execute(create_table_query_despesas)
conn.commit()

In [42]:
df_kardex = pd.read_excel('C:/Users/user/Documents/GitHub/EMBRAER--Custo-Manutencao-de-Estoque-/dados_kardex.xlsx', sheet_name='kardex')
df_produtos = pd.read_excel('C:/Users/user/Documents/GitHub/EMBRAER--Custo-Manutencao-de-Estoque-/dados_kardex.xlsx', sheet_name='produtos')
df_despesas = pd.read_excel('C:/Users/user/Documents/GitHub/EMBRAER--Custo-Manutencao-de-Estoque-/dados_kardex.xlsx', sheet_name='despesas')

fake = Faker('pt_BR')

for id in range(100):
    data_despesas_str = df_despesas.loc[id, 'data_despesas']
    data_despesas = datetime.strptime(data_despesas_str, '%d/%m/%Y').date()
    custos_seguro = int(df_despesas.loc[id, 'custo_seguro'])
    energia = int(df_despesas.loc[id, 'custo_energia'])
    horas_producao = df_despesas.loc[id, 'h_producao']
    depreciacao_maquinario = int(df_despesas.loc[id, 'depreciacao'])
    logistica_retorno_peca = int(df_despesas.loc[id, 'logistica_retorno'])
    hora_funcionario = int(df_despesas.loc[id, 'funcionario_hora'])
    gastos_gerais_fabricacao = int(df_despesas.loc[id, 'g_gerais_fabricacao'])
    data_usinagem_str = df_despesas.loc[id, 'data_usinagem']
    data_usinagem = datetime.strptime(data_usinagem_str, '%d/%m/%Y').date()
    id_produtos = int(df_produtos.loc[id, 'codigo_produto'])
    id_deposito = int(df_despesas.loc[id, 'deposito'])

    print(f"INSERT INTO despesas (data_despesas, custos_seguro, energia, h_producao, depreciacao_maquinario, logistica_retorno_peca, hora_funcionario, gastos_gerais_fabricacao, data_usinagem, id_produtos, id_deposito) VALUES "
          f"('{data_despesas}', {custos_seguro}, {energia}, {horas_producao}, {depreciacao_maquinario}, {logistica_retorno_peca}, {hora_funcionario}, {gastos_gerais_fabricacao}, '{data_usinagem}', {id_produtos}, {id_deposito});")

    insert_query = """
        INSERT INTO despesas (
            data_despesas, custos_seguro, energia, h_producao, depreciacao_maquinario,
            logistica_retorno_peca, hora_funcionario, gastos_gerais_fabricacao,
            data_usinagem, id_produtos, id_deposito
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """

    data = (
        data_despesas, custos_seguro, energia, horas_producao, depreciacao_maquinario,
        logistica_retorno_peca, hora_funcionario, gastos_gerais_fabricacao,
        data_usinagem, id_produtos, id_deposito
    )

    try:
        cursor.execute(insert_query, data)
        conn.commit()
    except Exception as e:
        print(f"Erro ao inserir dados: {e}")

try:
    cursor.close()
    print("Conex達o fechada com sucesso.")
    conn.close()
except Exception as e:
    print(f"Erro ao fechar a conex達o: {e}")

INSERT INTO despesas (data_despesas, custos_seguro, energia, h_producao, depreciacao_maquinario, logistica_retorno_peca, hora_funcionario, gastos_gerais_fabricacao, data_usinagem, id_produtos, id_deposito) VALUES ('2019-01-10', 7800, 22625, 2.0, 16527, 27600, 2, 75, '2019-01-10', 1, 4);
Erro ao inserir dados: 1054 (42S22): Unknown column 'h_producao' in 'field list'
INSERT INTO despesas (data_despesas, custos_seguro, energia, h_producao, depreciacao_maquinario, logistica_retorno_peca, hora_funcionario, gastos_gerais_fabricacao, data_usinagem, id_produtos, id_deposito) VALUES ('2019-02-10', 4750, 21825, 2.0, 16527, 27600, 2, 98, '2019-02-10', 2, 4);
Erro ao inserir dados: 1054 (42S22): Unknown column 'h_producao' in 'field list'
INSERT INTO despesas (data_despesas, custos_seguro, energia, h_producao, depreciacao_maquinario, logistica_retorno_peca, hora_funcionario, gastos_gerais_fabricacao, data_usinagem, id_produtos, id_deposito) VALUES ('2019-03-10', 4750, 21971, 2.0, 16527, 27600, 2, 116, '2019-03-10', 3, 1);
Erro ao inserir dados: 1054 (42S22): Unknown column 'h_producao' in 'field list'
INSERT INTO despesas (data_despesas, custos_seguro, energia, h_producao, depreciacao_maquinario, logistica_retorno_peca, hora_funcionario, gastos_gerais_fabricacao, data_usinagem, id_produtos, id_deposito) VALUES ('2019-04-10', 4750, 24207, 2.0, 33055, 27600, 2, 110, '2019-04-10', 4, 1);
Erro ao inserir dados: 1054 (42S22): Unknown column 'h_producao' in 'field list'
INSERT INTO despesas (data_despesas, custos_seguro, energia, h_producao, depreciacao_maquinario, logistica_retorno_peca, hora_funcionario, gastos_gerais_fabricacao, data_usinagem, id_produtos, id_deposito) VALUES ('2019-05-10', 4750, 22277, 4.0, 33055, 27600, 4, 118, '2019-05-10', 5, 2);
Erro ao inserir dados: 1054 (42S22): Unknown column 'h_producao' in 'field list'
INSERT INTO despesas (data_despesas, custos_seguro, energia, h_producao, depreciacao_maquinario, logistica_retorno_peca, hora_funcionario, gastos_gerais_fabricacao, data_usinagem, id_produtos, id_deposito) VALUES ('2019-06-10', 4750, 22174, 4.0, 33055, 27600, 4, 100, '2019-06-10', 6, 1);
Erro ao inserir dados: 1054 (42S22): Unknown column 'h_producao' in 'field list'
INSERT INTO despesas (data_despesas, custos_seguro, energia, h_producao, depreciacao_maquinario, logistica_retorno_peca, hora_funcionario, gastos_gerais_fabricacao, data_usinagem, id_produtos, id_deposito) VALUES ('2019-07-10', 4750, 23918, 6.0, 33055, 27600, 6, 70, '2019-07-10', 7, 4);
Erro ao inserir dados: 1054 (42S22): Unknown column 'h_producao' in 'field list'
INSERT INTO despesas (data_despesas, custos_seguro, energia, h_producao, depreciacao_maquinario, logistica_retorno_peca, hora_funcionario, gastos_gerais_fabricacao, data_usinagem, id_produtos, id_deposito) VALUES ('2019-08-10', 4750, 23798, 8.0, 33055, 27600, 8, 87, '2019-08-10', 8, 4);
Erro ao inserir dados: 1054 (42S22): Unknown column 'h_producao' in 'field list'

ValueError: cannot convert float NaN to integer

In [ ]:
print(df_despesas.columns)

Index(['data_despesas', 'custo_seguro', 'custo_energia', 'deposito',
       'h_producao', 'depreciacao', 'logistia_retorno', 'funcionario_hora',
       'g_gerais_fabricacao', 'data_usinagem', 'custo_seguro.1',
       'custo_energia.1'],
      dtype='object')