In [1]:
#pip install mysql-connector-python

In [2]:
import mysql.connector
from mysql.connector import Error
from random import randint, choice, uniform
from faker import Faker

In [3]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '22976738',
    'database': 'teste1'
}


try:
    connection = mysql.connector.connect(**db_config)
    if connection.is_connected():
        print("Conexão ao banco de dados bem-sucedida.")   
except mysql.connector.Error as e:
    print(f"Erro ao conectar ao banco de dados: {e}")
    
    
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

Conexão ao banco de dados bem-sucedida.

In [4]:
create_table_query_hora_funcionario = """
   CREATE TABLE IF NOT EXISTS hora_funcionario(
     qtde_horas FLOAT NOT NULL,
     mes_ano VARCHAR(7),
     codigo_chapa INT,
      CONSTRAINT controle_chapa FOREIGN KEY (codigo_chapa) REFERENCES funcionario(chapa)
    );
"""

cursor.execute(create_table_query_hora_funcionario)
conn.commit()

In [5]:
fake = Faker('pt_BR')

for _ in range(50):
    qtde_horas = round(fake.random_number(1, True))
    
    while True:
        mes_ano = fake.date_this_decade(before_today=True, after_today=False).strftime('%Y-%m')
        if int(mes_ano.split('-')[0]) > 2019:
            break
    
    codigo_chapa = randint(1, 10)

    print(f"INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES ({qtde_horas}, '{mes_ano}', {codigo_chapa});")
    
    insert_query = "INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (%s, %s, %s)"
    data = (qtde_horas, mes_ano, codigo_chapa)
    
    try:
        cursor.execute(insert_query, data)
        conn.commit()
        print("Dados inseridos com sucesso.")
    except Exception as e:
        print(f"Erro ao inserir dados: {e}")

try:
    cursor.close()
    print("Conexão fechada com sucesso.")
    conn.close()
except Exception as e:
    print(f"Erro ao fechar a conexão: {e}")

INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (4, '2021-01', 6);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`teste1`.`hora_funcionario`, CONSTRAINT `controle_chapa` FOREIGN KEY (`codigo_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (1, '2022-10', 8);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`teste1`.`hora_funcionario`, CONSTRAINT `controle_chapa` FOREIGN KEY (`codigo_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (1, '2021-04', 9);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`teste1`.`hora_funcionario`, CONSTRAINT `controle_chapa` FOREIGN KEY (`codigo_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (7, '2022-02', 5);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (7, '2021-02', 1);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (2, '2022-01', 3);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (2, '2020-11', 3);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (5, '2020-06', 6);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`teste1`.`hora_funcionario`, CONSTRAINT `controle_chapa` FOREIGN KEY (`codigo_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (4, '2023-08', 7);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`teste1`.`hora_funcionario`, CONSTRAINT `controle_chapa` FOREIGN KEY (`codigo_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (1, '2022-09', 5);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (3, '2021-12', 9);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`teste1`.`hora_funcionario`, CONSTRAINT `controle_chapa` FOREIGN KEY (`codigo_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (5, '2023-06', 8);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`teste1`.`hora_funcionario`, CONSTRAINT `controle_chapa` FOREIGN KEY (`codigo_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (3, '2020-05', 7);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`teste1`.`hora_funcionario`, CONSTRAINT `controle_chapa` FOREIGN KEY (`codigo_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (9, '2023-03', 5);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (9, '2022-12', 4);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (8, '2020-02', 7);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`teste1`.`hora_funcionario`, CONSTRAINT `controle_chapa` FOREIGN KEY (`codigo_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (8, '2023-12', 9);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`teste1`.`hora_funcionario`, CONSTRAINT `controle_chapa` FOREIGN KEY (`codigo_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (4, '2023-12', 2);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (1, '2022-08', 3);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (1, '2020-05', 3);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (9, '2021-06', 4);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (3, '2023-02', 6);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`teste1`.`hora_funcionario`, CONSTRAINT `controle_chapa` FOREIGN KEY (`codigo_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (8, '2022-08', 5);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (2, '2020-12', 4);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (7, '2020-09', 6);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`teste1`.`hora_funcionario`, CONSTRAINT `controle_chapa` FOREIGN KEY (`codigo_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (7, '2020-12', 5);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (5, '2021-05', 5);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (5, '2021-05', 3);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (5, '2022-04', 1);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (9, '2022-10', 8);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`teste1`.`hora_funcionario`, CONSTRAINT `controle_chapa` FOREIGN KEY (`codigo_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (5, '2022-09', 6);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`teste1`.`hora_funcionario`, CONSTRAINT `controle_chapa` FOREIGN KEY (`codigo_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (4, '2023-11', 6);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`teste1`.`hora_funcionario`, CONSTRAINT `controle_chapa` FOREIGN KEY (`codigo_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (4, '2020-05', 5);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (5, '2021-06', 5);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (3, '2023-11', 4);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (1, '2020-04', 1);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (6, '2021-04', 1);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (5, '2022-12', 1);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (8, '2023-02', 10);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`teste1`.`hora_funcionario`, CONSTRAINT `controle_chapa` FOREIGN KEY (`codigo_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (7, '2021-03', 2);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (2, '2023-10', 10);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`teste1`.`hora_funcionario`, CONSTRAINT `controle_chapa` FOREIGN KEY (`codigo_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (9, '2023-02', 3);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (7, '2023-07', 7);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`teste1`.`hora_funcionario`, CONSTRAINT `controle_chapa` FOREIGN KEY (`codigo_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (1, '2023-09', 10);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`teste1`.`hora_funcionario`, CONSTRAINT `controle_chapa` FOREIGN KEY (`codigo_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (1, '2021-06', 5);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (1, '2023-05', 3);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (1, '2021-08', 2);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (8, '2023-05', 2);
Dados inseridos com sucesso.
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (6, '2021-11', 10);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`teste1`.`hora_funcionario`, CONSTRAINT `controle_chapa` FOREIGN KEY (`codigo_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO hora_funcionario (qtde_horas, mes_ano, codigo_chapa) VALUES (9, '2023-01', 9);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`teste1`.`hora_funcionario`, CONSTRAINT `controle_chapa` FOREIGN KEY (`codigo_chapa`) REFERENCES `funcionario` (`chapa`))
Conexão fechada com sucesso.