In [19]:
#pip install mysql-connector-python

In [20]:
import mysql.connector
from mysql.connector import Error
from random import randint
from faker import Faker
import pandas as pd

In [21]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '22976738',
    'database': 'projeto1'
}


try:
    connection = mysql.connector.connect(**db_config)
    if connection.is_connected():
        print("Conexão ao banco de dados bem-sucedida.")   
except mysql.connector.Error as e:
    print(f"Erro ao conectar ao banco de dados: {e}")
    
    
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

Conexão ao banco de dados bem-sucedida.

In [22]:
create_table_query_produtos = """
    CREATE TABLE IF NOT EXISTS produtos (
        id INT PRIMARY KEY AUTO_INCREMENT NOT NULL,
        produto VARCHAR(255),
        lote INT,
        codigo_de_barras BIGINT,
        valor FLOAT ,
        peso FLOAT
    );
"""

cursor.execute(create_table_query_produtos)
conn.commit()

In [23]:
#remover espaços extras 
import pandas as pd
df = pd.read_excel('C:/Users/user/Documents/GitHub/EMBRAER--Custo-Manutencao-de-Estoque-/dados_kardex.xlsx',sheet_name='produtos')

df.columns = df.columns.str.strip()
print(df)

                     produtos  codigo_produto  codigo     valor  peso  custo  \
0     Placa/Liga-Ti-5Al-2,5Sn             4.0  1018.0  1.411715   3.0    1.0
1      Placa/Liga-Ti-3Al-2,5V             5.0  1019.0  1.324214   2.8  900.0
2        Placa/Liga-Ti-6Al-4V             6.0  1020.0  1.078719   3.5    1.2
3    Placa/Liga-Ti-6Al-6V-2Sn             7.0  1021.0  1.626154   4.0    1.5
4   Placa/Liga-Ti-10V-2Fe-3Al             8.0  1022.0  1.271960   4.5    1.8
5                         NaN             NaN     NaN       NaN   NaN    NaN
6                         NaN             NaN     NaN       NaN   NaN    NaN
7                         NaN             NaN     NaN       NaN   NaN    NaN
8                         NaN             NaN     NaN       NaN   NaN    NaN
9                         NaN             NaN     NaN       NaN   NaN    NaN
10                        NaN             NaN     NaN       NaN   NaN    NaN
11                        NaN             NaN     NaN       NaN   NaN    NaN
12                        NaN             NaN     NaN       NaN   NaN    NaN
13                        NaN             NaN     NaN       NaN   NaN    NaN
14                        NaN             NaN     NaN       NaN   NaN    NaN
15                        NaN             NaN     NaN       NaN   NaN    NaN
16                        NaN             NaN     NaN       NaN   NaN    NaN
17                        NaN             NaN     NaN       NaN   NaN    NaN
18                        NaN             NaN     NaN       NaN   NaN    NaN
19                        NaN             NaN     NaN       NaN   NaN    NaN
20                        NaN             NaN     NaN       NaN   NaN    NaN
21                        NaN             NaN     NaN       NaN   NaN    NaN
22                        NaN             NaN     NaN       NaN   NaN    NaN
23                        NaN             NaN     NaN       NaN   NaN    NaN
24                        NaN             NaN     NaN       NaN   NaN    NaN
25                        NaN             NaN     NaN       NaN   NaN    NaN
26                        NaN             NaN     NaN       NaN   NaN    NaN
27                        NaN             NaN     NaN       NaN   NaN    NaN
28                        NaN             NaN     NaN       NaN   NaN    NaN
29                        NaN             NaN     NaN       NaN   NaN    NaN
30                        NaN             NaN     NaN       NaN   NaN    NaN
31                        NaN             NaN     NaN       NaN   NaN    NaN
32                        NaN             NaN     NaN       NaN   NaN    NaN
33                        NaN             NaN     NaN       NaN   NaN    NaN
34                        NaN             NaN     NaN       NaN   NaN    NaN
35                        NaN             NaN     NaN       NaN   NaN    NaN
36                        NaN             NaN     NaN       NaN   NaN    NaN
37                        NaN             NaN     NaN       NaN   NaN    NaN
38                        NaN             NaN     NaN       NaN   NaN    NaN
39                        NaN             NaN     NaN       NaN   NaN    NaN
40                        NaN             NaN     NaN       NaN   NaN    NaN
41                        NaN             NaN     NaN       NaN   NaN    NaN
42                        NaN             NaN     NaN       NaN   NaN    NaN
43                        NaN             NaN     NaN       NaN   NaN    NaN
44                        NaN             NaN     NaN       NaN   NaN    NaN
45                        NaN             NaN     NaN       NaN   NaN    NaN
46                        NaN             NaN     NaN       NaN   NaN    NaN
47                        NaN             NaN     NaN       NaN   NaN    NaN
48                        NaN             NaN     NaN       NaN   NaN    NaN
49                        NaN             NaN     NaN       NaN   NaN    NaN
50                        NaN             NaN     NaN       NaN   NaN    NaN
51                        NaN             NaN     NaN       NaN   NaN    NaN
52                        NaN             NaN     NaN       NaN   NaN    NaN
53                        NaN             NaN     NaN       NaN   NaN    NaN
54                        NaN             NaN     NaN       NaN   NaN    NaN
55                        NaN             NaN     NaN       NaN   NaN    NaN
56                        NaN             NaN     NaN       NaN   NaN    NaN

    horas_producao  depreciacao_maquinario  logistia_retorno_peca  \
0              2.0                 33055.0                27600.0
1              4.0                 33055.0                27600.0
2              4.0                 33055.0                27600.0
3              6.0                 33055.0                27600.0
4              8.0                 33055.0                27600.0
5              NaN                     NaN                    NaN
6              NaN                     NaN                    NaN
7              NaN                     NaN                    NaN
8              NaN                     NaN                    NaN
9              NaN                     NaN                    NaN
10             NaN                     NaN                    NaN
11             NaN                     NaN                    NaN
12             NaN                     NaN                    NaN
13             NaN                     NaN                    NaN
14             NaN                     NaN                    NaN
15             NaN                     NaN                    NaN
16             NaN                     NaN                    NaN
17             NaN                     NaN                    NaN
18             NaN                     NaN                    NaN
19             NaN                     NaN                    NaN
20             NaN                     NaN                    NaN
21             NaN                     NaN                    NaN
22             NaN                     NaN                    NaN
23             NaN                     NaN                    NaN
24             NaN                     NaN                    NaN
25             NaN                     NaN                    NaN
26             NaN                     NaN                    NaN
27             NaN                     NaN                    NaN
28             NaN                     NaN                    NaN
29             NaN                     NaN                    NaN
30             NaN                     NaN                    NaN
31             NaN                     NaN                    NaN
32             NaN                     NaN                    NaN
33             NaN                     NaN                    NaN
34             NaN                     NaN                    NaN
35             NaN                     NaN                    NaN
36             NaN                     NaN                    NaN
37             NaN                     NaN                    NaN
38             NaN                     NaN                    NaN
39             NaN                     NaN                    NaN
40             NaN                     NaN                    NaN
41             NaN                     NaN                    NaN
42             NaN                     NaN                    NaN
43             NaN                     NaN                    NaN
44             NaN                     NaN                    NaN
45             NaN                     NaN                    NaN
46             NaN                     NaN                    NaN
47             NaN                     NaN                    NaN
48             NaN                     NaN                    NaN
49             NaN                     NaN                    NaN
50             NaN                     NaN                    NaN
51             NaN                     NaN                    NaN
52             NaN                     NaN                    NaN
53             NaN                     NaN                    NaN
54             NaN                     NaN                    NaN
55             NaN                     NaN                    NaN
56             NaN                     NaN                    NaN

    hora_funcionario  gastos_gerais_fabricacao        data_usinagem  \
0                2.0                     110.0            10/4/2019
1                4.0                     118.0            10/5/2019
2                4.0                     100.0            10/6/2019
3                6.0                      70.0            10/7/2019
4                8.0                      87.0            10/8/2019
5                NaN                       NaN            10/9/2019
6                NaN                       NaN           10/10/2019
7                NaN                       NaN           10/11/2019
8                NaN                       NaN           10/12/2019
9                NaN                       NaN            10/1/2020
10               NaN                       NaN            10/2/2020
11               NaN                       NaN            10/3/2020
12               NaN                       NaN            10/4/2020
13               NaN                       NaN            10/5/2020
14               NaN                       NaN            10/6/2020
15               NaN                       NaN            10/7/2020
16               NaN                       NaN            10/8/2020
17               NaN                       NaN            10/9/2020
18               NaN                       NaN           10/10/2020
19               NaN                       NaN           10/11/2020
20               NaN                       NaN           10/12/2020
21               NaN                       NaN            10/1/2021
22               NaN                       NaN            10/2/2021
23               NaN                       NaN            10/3/2021
24               NaN                       NaN            10/4/2021
25               NaN                       NaN            10/5/2021
26               NaN                       NaN            10/6/2021
27               NaN                       NaN  2021-07-10 00:00:00
28               NaN                       NaN  2021-08-10 00:00:00
29               NaN                       NaN  2021-09-10 00:00:00
30               NaN                       NaN  2021-10-10 00:00:00
31               NaN                       NaN  2021-11-10 00:00:00
32               NaN                       NaN  2021-12-10 00:00:00
33               NaN                       NaN  2022-01-10 00:00:00
34               NaN                       NaN  2022-02-10 00:00:00
35               NaN                       NaN  2022-03-10 00:00:00
36               NaN                       NaN  2022-04-10 00:00:00
37               NaN                       NaN  2022-05-10 00:00:00
38               NaN                       NaN  2022-06-10 00:00:00
39               NaN                       NaN  2022-07-10 00:00:00
40               NaN                       NaN  2022-08-10 00:00:00
41               NaN                       NaN  2022-09-10 00:00:00
42               NaN                       NaN  2022-10-10 00:00:00
43               NaN                       NaN  2022-11-10 00:00:00
44               NaN                       NaN  2022-12-10 00:00:00
45               NaN                       NaN  2023-01-10 00:00:00
46               NaN                       NaN  2023-02-10 00:00:00
47               NaN                       NaN  2023-03-10 00:00:00
48               NaN                       NaN  2023-04-10 00:00:00
49               NaN                       NaN  2023-05-10 00:00:00
50               NaN                       NaN  2023-06-10 00:00:00
51               NaN                       NaN  2023-07-10 00:00:00
52               NaN                       NaN  2023-08-10 00:00:00
53               NaN                       NaN  2023-09-10 00:00:00
54               NaN                       NaN  2023-10-10 00:00:00
55               NaN                       NaN  2023-11-10 00:00:00
56               NaN                       NaN  2023-12-10 00:00:00

    custo_seguro  custo_energia
0           5150   23972.988939
1           5150   22589.871098
2           5150   24116.792425
3           5150   21779.301631
4           5150   21004.443254
5           5150   21038.047659
6           5150   24001.665941
7           5780   22179.700064
8           5780   23427.194484
9           5780   23632.528377
10          5780   23113.835762
11          5780   22145.952302
12          5780   21198.777496
13          5780   23723.412462
14          5780   23003.200028
15          5780   22516.191222
16          5780   22071.821363
17          5780   23198.294291
18          5780   21746.720071
19          6360   22140.879371
20          6360   22730.362826
21          6360   24527.886713
22          6360   23989.041445
23          6360   23764.783428
24          6360   23305.766452
25          6360   22132.640792
26          6360   24350.418382
27          6360   23825.747498
28          6360   22852.679724
29          6360   24379.010264
30          6360   23454.351206
31          6820   24393.597009
32          6820   23999.406820
33          6820   24267.993486
34          6820   21846.571953
35          6820   24432.309315
36          6820   23839.096929
37          6820   22945.809968
38          6820   23609.214196
39          6820   21670.091513
40          6820   22160.799700
41          6820   21474.282814
42          6820   22888.431264
43          6820   23723.412462
44          6820   23003.200028
45          6820   22516.191222
46          6820   22071.821363
47          6820   23198.294291
48          6820   21746.720071
49          6820   22140.879371
50          6820   22730.362826
51          6820   24527.886713
52          6820   23989.041445
53          6820   23764.783428
54          6820   23305.766452
55          6820   22132.640792
56          6820   24350.418382

In [24]:
# print(df.columns)

In [25]:

import pandas as pd
df_produtos = pd.read_excel('C:/Users/user/Documents/GitHub/EMBRAER--Custo-Manutencao-de-Estoque-/dados_kardex.xlsx', sheet_name='produtos')

fake = Faker('pt_BR')

for id in range(5):
    produto = df_produtos.loc[id, 'produtos ']
    lote = randint(100, 500)
    codigo_de_barras = randint(100000, 999999)
    preco = float(df_produtos.loc[id, 'valor'])
    peso = df_produtos.loc[id, 'peso']

    print(f"Produto: {produto}, Lote: {lote}, Código de Barras: {codigo_de_barras}, Preço: {preco}, Peso: {peso}")

    insert_query_produtos = "INSERT INTO produtos (produto, lote, codigo_de_barras, valor, peso) VALUES (%s, %s, %s, %s, %s)"
    data_produtos = (produto, lote, codigo_de_barras, preco, peso)

    try:
        cursor.execute(insert_query_produtos, data_produtos)
        conn.commit()
    except Exception as e:
        print(f"Erro ao inserir dados: {e}")

try:
    cursor.close()
    print("Conexão fechada com sucesso.")
    conn.close()
except Exception as e:
    print(f"Erro ao fechar a conexão: {e}")

Produto: Placa/Liga-Ti-5Al-2,5Sn, Lote: 242, Código de Barras: 167125, Preço: 1.4117154231888367, Peso: 3.0
Produto: Placa/Liga-Ti-3Al-2,5V, Lote: 402, Código de Barras: 657962, Preço: 1.3242139330818898, Peso: 2.8
Produto: Placa/Liga-Ti-6Al-4V, Lote: 284, Código de Barras: 766332, Preço: 1.0787187144069543, Peso: 3.5
Produto: Placa/Liga-Ti-6Al-6V-2Sn, Lote: 298, Código de Barras: 822942, Preço: 1.6261544560475099, Peso: 4.0
Produto: Placa/Liga-Ti-10V-2Fe-3Al, Lote: 406, Código de Barras: 986510, Preço: 1.2719599651809441, Peso: 4.5
Conexão fechada com sucesso.