In [10]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\python311\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\python311\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import mysql.connector
from mysql.connector import Error
from random import randint, choice, uniform
from faker import Faker

In [12]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '22976738',
    'database': 'Embraer2'
}


try:
    connection = mysql.connector.connect(**db_config)
    if connection.is_connected():
        print("Conexão ao banco de dados bem-sucedida.")   
except mysql.connector.Error as e:
    print(f"Erro ao conectar ao banco de dados: {e}")
    
    
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

Conexão ao banco de dados bem-sucedida.

In [13]:

# create_table_query_transferencia = """

#     CREATE TABLE transferencia(
#       id INT AUTO_INCREMENT PRIMARY KEY,
#     id_dep_origem INT NOT NULL,
#     id_dep_dest INT NOT NULL,
#     qtde_transf INT NOT NULL,
#     id_chapa INT NOT NULL,
#     data_transf DATE NOT NULL,
#     frete FLOAT NOT NULL,
#     CONSTRAINT cont_chapa FOREIGN KEY (id_chapa) REFERENCES funcionario(chapa)
# );
    
# """
 
# cursor.execute(create_table_query_transferencia)
# conn.commit()

In [14]:
fake = Faker('pt_BR')

for _ in range(50):
    id_dep_origem = randint(1, 10)
    id_dep_dest = randint(1, 10)
    qtde_transf = randint(1, 100)
    id_chapa = randint(1, 10)
    data_transf = fake.date_between(start_date='-30d', end_date='today')
    frete = round(fake.random_number(2, True) * 100, 2)

    print(f"INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES ({id_dep_origem}, {id_dep_dest}, {qtde_transf}, {id_chapa}, '{data_transf}', {frete});")

    insert_query = "INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (%s, %s, %s, %s, %s, %s)"
    data = (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete)

    try:
        cursor.execute(insert_query, data)
        conn.commit()
    except Exception as e:
        print(f"Erro ao inserir dados: {e}")

try:
    cursor.close()
    print("Conexão fechada com sucesso.")
    conn.close()
except Exception as e:
    print(f"Erro ao fechar a conexão: {e}")

INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (7, 9, 57, 6, '2023-12-11', 4400);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 6, 10, 6, '2023-12-04', 5500);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 5, 74, 7, '2023-12-05', 8500);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 1, 25, 5, '2023-11-25', 3400);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 5, 52, 9, '2023-11-22', 2200);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (10, 10, 42, 5, '2023-12-10', 4500);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 1, 35, 4, '2023-11-24', 3600);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 1, 29, 1, '2023-11-20', 6400);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (6, 1, 65, 4, '2023-12-08', 6500);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 1, 67, 10, '2023-11-15', 7100);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (9, 9, 44, 8, '2023-11-26', 4800);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (8, 10, 10, 6, '2023-11-27', 8200);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (7, 2, 89, 5, '2023-11-21', 7400);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (6, 6, 38, 10, '2023-11-26', 7200);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (10, 4, 73, 4, '2023-12-07', 1300);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (9, 5, 23, 10, '2023-11-15', 9000);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (6, 10, 94, 3, '2023-12-14', 6000);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (5, 10, 91, 5, '2023-12-06', 7200);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 7, 31, 8, '2023-12-02', 5500);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (9, 8, 54, 8, '2023-12-01', 3100);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 4, 93, 5, '2023-11-15', 6200);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 7, 55, 6, '2023-12-11', 8900);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (9, 8, 60, 1, '2023-12-12', 8600);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (9, 3, 85, 8, '2023-12-03', 4100);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (8, 4, 7, 3, '2023-12-11', 1200);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (6, 7, 39, 8, '2023-12-10', 8700);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 4, 6, 9, '2023-12-01', 3600);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (6, 10, 14, 1, '2023-11-26', 7300);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (9, 10, 7, 5, '2023-11-26', 5000);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (8, 4, 83, 8, '2023-12-08', 4600);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 1, 64, 6, '2023-12-02', 4600);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 5, 86, 5, '2023-11-30', 8700);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 6, 46, 6, '2023-11-19', 6100);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 7, 69, 1, '2023-12-08', 9000);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (5, 8, 40, 8, '2023-11-18', 1400);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (7, 1, 71, 6, '2023-11-29', 6600);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 5, 92, 4, '2023-11-15', 9400);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (7, 7, 35, 10, '2023-11-18', 6900);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (5, 7, 94, 8, '2023-11-20', 9000);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (6, 3, 71, 9, '2023-12-14', 3600);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 2, 95, 4, '2023-11-18', 3900);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (6, 8, 65, 8, '2023-11-16', 2800);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (7, 10, 92, 8, '2023-12-08', 7400);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 3, 74, 4, '2023-12-14', 6300);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (8, 6, 48, 9, '2023-12-09', 8000);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (8, 3, 85, 9, '2023-11-16', 5000);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (10, 6, 3, 1, '2023-12-11', 3000);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (9, 3, 47, 8, '2023-11-17', 2400);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 7, 96, 6, '2023-11-23', 3100);
Erro ao inserir dados: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`embraer2`.`transferencia`, CONSTRAINT `cont_chapa` FOREIGN KEY (`id_chapa`) REFERENCES `funcionario` (`chapa`))
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (6, 2, 3, 4, '2023-11-22', 1300);
Conexão fechada com sucesso.