In [23]:
#pip install mysql-connector-python

In [24]:
import mysql.connector
from mysql.connector import Error
from random import randint, choice, uniform
from faker import Faker
import pandas as pd

In [25]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '22976738',
    'database': 'projeto2'
}


try:
    connection = mysql.connector.connect(**db_config)
    if connection.is_connected():
        print("Conexão ao banco de dados bem-sucedida.")   
except mysql.connector.Error as e:
    print(f"Erro ao conectar ao banco de dados: {e}")
    
    
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

Conexão ao banco de dados bem-sucedida.

In [26]:

create_table_query_transferencia = """

    CREATE TABLE IF NOT EXISTS transferencia(
    id INT AUTO_INCREMENT PRIMARY KEY,
    id_dep_origem INT NOT NULL,
    id_dep_dest INT NOT NULL,
    qtde_transf INT NOT NULL,
    id_chapa INT NOT NULL,
    data_transf DATE NOT NULL,
    frete FLOAT NOT NULL,
    CONSTRAINT cont_chapa FOREIGN KEY (id_chapa) REFERENCES funcionario(chapa)
);
    
"""
 
cursor.execute(create_table_query_transferencia)
conn.commit()

In [27]:
df_kardex = pd.read_excel('C:/Users/user/Documents/GitHub/EMBRAER--Custo-Manutencao-de-Estoque-/dados_kardex.xlsx', sheet_name='kardex')


fake = Faker('pt_BR')

for id_transf in range(len(df_kardex)): #interando sobre o indice do df
    id_dep_origem = int(df_kardex.loc[id_transf, 'origem'])
    id_dep_dest = int(df_kardex.loc[id_transf, 'destino'])
    qtde_transf = int(df_kardex.loc[id_transf, 'quantidade'])
    id_chapa = randint(1, 5)
    data_transf = df_kardex.loc[id_transf, 'entrada']
    frete = round(fake.random_number(2, True) * 100, 2)

    print(f"INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES ({id_dep_origem}, {id_dep_dest}, {qtde_transf}, {id_chapa}, '{data_transf}', {frete});")

    insert_query = "INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (%s, %s, %s, %s, %s, %s)"
    data = (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete)

    try:
        cursor.execute(insert_query, data)
        conn.commit()
    except Exception as e:
        print(f"Erro ao inserir dados: {e}")

try:
    cursor.close()
    print("Conexão fechada com sucesso.")
    conn.close()
except Exception as e:
    print(f"Erro ao fechar a conexão: {e}")

INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 1, 953, 3, '2019-12-28 00:00:00', 6600);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 4, 225, 2, '2019-12-28 00:00:00', 6500);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 4, 255, 4, '2019-12-28 00:00:00', 5000);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 1, 603, 5, '2019-12-28 00:00:00', 8100);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 2, 821, 3, '2019-12-28 00:00:00', 6900);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 4, 588, 5, '2019-12-28 00:00:00', 8600);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 1, 314, 5, '2019-12-28 00:00:00', 2000);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 3, 704, 1, '2019-12-28 00:00:00', 4100);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 1, 250, 2, '2019-12-28 00:00:00', 5200);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 4, 895, 4, '2019-12-28 00:00:00', 7700);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 4, 641, 4, '2019-12-28 00:00:00', 2700);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 2, 828, 4, '2019-12-28 00:00:00', 5600);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 2, 375, 2, '2019-12-29 00:00:00', 2000);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 3, 860, 4, '2019-12-29 00:00:00', 7500);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 3, 379, 1, '2019-12-29 00:00:00', 4800);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 4, 842, 4, '2019-12-29 00:00:00', 2500);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 1, 308, 3, '2019-12-29 00:00:00', 8400);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 3, 580, 2, '2019-12-29 00:00:00', 7400);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 4, 534, 4, '2019-12-29 00:00:00', 5900);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 2, 771, 3, '2019-12-29 00:00:00', 2200);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 1, 578, 1, '2019-12-29 00:00:00', 3500);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 3, 371, 5, '2019-12-29 00:00:00', 2000);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 2, 623, 3, '2019-12-30 00:00:00', 2100);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 4, 376, 1, '2019-12-30 00:00:00', 8700);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 4, 458, 5, '2019-12-30 00:00:00', 1200);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 2, 554, 4, '2019-12-30 00:00:00', 3200);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 4, 731, 3, '2019-12-30 00:00:00', 1700);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 1, 935, 4, '2019-12-30 00:00:00', 1500);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 1, 410, 2, '2019-12-30 00:00:00', 4500);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 4, 804, 5, '2019-12-30 00:00:00', 3400);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 2, 281, 2, '2019-12-31 00:00:00', 8700);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 4, 518, 2, '2019-12-31 00:00:00', 3900);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 3, 965, 5, '2019-12-31 00:00:00', 6300);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 1, 594, 2, '2019-12-31 00:00:00', 5100);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 4, 526, 3, '2019-12-31 00:00:00', 7100);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 4, 835, 4, '2019-12-31 00:00:00', 9800);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 4, 282, 1, '2019-12-31 00:00:00', 5500);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 2, 874, 1, '2019-12-31 00:00:00', 3800);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 3, 236, 3, '2019-12-31 00:00:00', 7600);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 2, 524, 1, '2019-12-31 00:00:00', 5500);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 4, 218, 1, '2019-12-31 00:00:00', 1300);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 4, 795, 1, '2019-12-31 00:00:00', 2900);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 2, 301, 3, '2019-12-31 00:00:00', 6800);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 4, 863, 3, '2020-01-01 00:00:00', 1100);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 1, 389, 4, '2020-01-01 00:00:00', 5200);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 4, 659, 3, '2020-01-01 00:00:00', 8800);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 3, 896, 1, '2020-01-01 00:00:00', 7100);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 4, 480, 4, '2020-01-01 00:00:00', 8300);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 3, 967, 2, '2020-01-01 00:00:00', 7900);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 2, 944, 1, '2020-01-01 00:00:00', 5900);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 1, 435, 5, '2020-01-01 00:00:00', 5600);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 2, 671, 2, '2020-01-01 00:00:00', 1800);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 1, 430, 3, '2020-01-01 00:00:00', 2100);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 4, 778, 4, '2020-01-01 00:00:00', 1400);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 3, 986, 3, '2020-01-02 00:00:00', 9100);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 4, 598, 3, '2020-01-02 00:00:00', 1700);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 2, 335, 5, '2020-01-02 00:00:00', 9200);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 2, 671, 5, '2020-01-02 00:00:00', 1800);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 1, 352, 1, '2020-01-02 00:00:00', 6600);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 3, 794, 5, '2020-01-02 00:00:00', 1100);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 1, 902, 4, '2020-01-02 00:00:00', 2400);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 4, 844, 5, '2020-01-02 00:00:00', 4000);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 3, 954, 1, '2020-01-02 00:00:00', 1200);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 1, 900, 5, '2020-01-02 00:00:00', 2000);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 1, 343, 1, '2020-01-02 00:00:00', 7500);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 2, 521, 2, '2020-01-03 00:00:00', 9800);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 3, 680, 3, '2020-01-03 00:00:00', 7600);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 2, 763, 3, '2020-01-03 00:00:00', 7200);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 3, 589, 3, '2020-01-03 00:00:00', 3900);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 1, 492, 4, '2020-01-03 00:00:00', 5700);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 2, 626, 4, '2020-01-03 00:00:00', 2200);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 4, 520, 2, '2020-01-03 00:00:00', 9200);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 2, 576, 4, '2020-01-03 00:00:00', 7100);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 3, 609, 1, '2020-01-03 00:00:00', 4500);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 4, 746, 2, '2020-01-03 00:00:00', 6100);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 1, 762, 5, '2020-01-04 00:00:00', 2500);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 1, 726, 3, '2020-01-04 00:00:00', 4200);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 3, 976, 4, '2020-01-04 00:00:00', 4900);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 4, 788, 3, '2020-01-04 00:00:00', 1800);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 1, 828, 2, '2020-01-04 00:00:00', 3400);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 4, 690, 1, '2020-01-04 00:00:00', 6600);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 2, 756, 1, '2020-01-04 00:00:00', 6700);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 2, 986, 4, '2020-01-04 00:00:00', 2300);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 4, 273, 3, '2020-01-05 00:00:00', 4400);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 3, 352, 5, '2020-01-05 00:00:00', 3400);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 4, 841, 4, '2020-01-05 00:00:00', 7400);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 2, 572, 2, '2020-01-05 00:00:00', 2500);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 2, 570, 2, '2020-01-05 00:00:00', 4500);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 4, 565, 3, '2020-01-05 00:00:00', 8500);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 3, 704, 1, '2020-01-05 00:00:00', 3000);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 3, 640, 2, '2020-01-06 00:00:00', 6600);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 4, 709, 1, '2020-01-06 00:00:00', 8400);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 1, 376, 2, '2020-01-06 00:00:00', 5500);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 4, 553, 1, '2020-01-06 00:00:00', 2600);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 1, 369, 5, '2020-01-06 00:00:00', 3700);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 3, 801, 2, '2020-01-06 00:00:00', 4800);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 2, 501, 5, '2020-01-06 00:00:00', 9600);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 4, 609, 3, '2020-01-06 00:00:00', 2800);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 1, 395, 3, '2020-01-06 00:00:00', 8600);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 1, 701, 3, '2020-01-06 00:00:00', 4900);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 1, 491, 2, '2020-01-06 00:00:00', 5900);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 3, 327, 2, '2020-01-07 00:00:00', 1300);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 3, 946, 4, '2020-01-07 00:00:00', 3300);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 1, 507, 1, '2020-01-07 00:00:00', 2400);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 2, 557, 4, '2020-01-07 00:00:00', 3500);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 2, 442, 2, '2020-01-07 00:00:00', 4900);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 2, 854, 2, '2020-01-07 00:00:00', 2200);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 1, 397, 4, '2020-01-07 00:00:00', 4700);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 1, 975, 2, '2020-01-07 00:00:00', 2800);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 2, 874, 2, '2020-01-07 00:00:00', 4600);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 2, 824, 1, '2020-01-07 00:00:00', 8200);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 1, 872, 2, '2020-01-07 00:00:00', 3000);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 4, 321, 1, '2020-01-07 00:00:00', 6300);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 1, 255, 4, '2020-01-08 00:00:00', 9400);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 2, 282, 3, '2020-01-08 00:00:00', 8900);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 3, 451, 5, '2020-01-08 00:00:00', 5000);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 4, 664, 1, '2020-01-08 00:00:00', 7400);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 3, 542, 3, '2020-01-08 00:00:00', 4000);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 1, 679, 4, '2020-01-08 00:00:00', 2600);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 1, 657, 5, '2020-01-08 00:00:00', 6200);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 3, 850, 4, '2020-01-09 00:00:00', 1300);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (3, 2, 290, 4, '2020-01-09 00:00:00', 9200);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 1, 617, 2, '2020-01-09 00:00:00', 6800);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 3, 673, 4, '2020-01-09 00:00:00', 6000);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 1, 653, 4, '2020-01-09 00:00:00', 1100);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 1, 298, 5, '2020-01-09 00:00:00', 3100);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 3, 875, 1, '2020-01-09 00:00:00', 6600);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 2, 317, 3, '2020-01-09 00:00:00', 2900);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 3, 428, 2, '2020-01-09 00:00:00', 2600);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (1, 4, 589, 3, '2020-01-09 00:00:00', 2500);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 3, 692, 5, '2020-01-09 00:00:00', 1100);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (4, 2, 290, 4, '2020-01-09 00:00:00', 7000);
INSERT INTO transferencia (id_dep_origem, id_dep_dest, qtde_transf, id_chapa, data_transf, frete) VALUES (2, 3, 608, 2, '2020-01-09 00:00:00', 7700);

KeyboardInterrupt: